[Desktop Entry]
Type=Application
Version=1.0
Name=System Info
GenericName=System Information
Comment=System information from the Hyprland project
TryExec=/usr/local/bin/hyprsysteminfo
Exec=/usr/local/bin/hyprsysteminfo
Icon=hwinfo
Terminal=false
StartupNotify=true
Categories=System;Monitor;
Keywords=hyprsysteminfo;system;info;diagnostics;
X-DotFiles=1
