[Unit]
Description=Workstation graphical session apps
Documentation=file://%h/dot-files/config/hypr/README.md
PartOf=graphical-session.target
After=graphical-session-pre.target hyprland-session.service
Wants=hyprland-session.service
Wants=workstation-brave.service
Wants=workstation-steam.service
Wants=workstation-discord.service
Wants=workstation-litra.service
Wants=workstation-kdeconnect.service

[Install]
WantedBy=graphical-session.target
